@use './partials/mixins' as *;
@use './partials/variables' as *;

.coaching .coaching-col:nth-child(even){
    padding-top: 60px;
}

.details a {
    color: $orange;
    text-decoration: none;
    border-bottom: 1px solid lightgray;
    transition: color 0.5s;

    &:hover {
        color: $lightblue;
    }
}
